<p>player works!</p>
<div class="container">
        <div class="row">
            <div class="col-md-12" style="text-align: center">

                    <button class="btn btn-dark col-md-3" (click)="getPlayers()">Get NBA players API</button>
            </div>
        </div>
        <div class="row">
        <table class="table table-bordered table-striped table-dark table-hover table-sm">   
                <thead >
                <tr>
                  <th>Name</th>
                  <th>Team Acronym</th>
                  <th>Team Name</th>
                  <th>Games Played</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let player of players">
                  <td>{{ player.name }}</td>
                  <td>{{ player.team_acronym }}</td>
                  <td>{{ player.team_name }}</td>
                  <td>{{ player.games_played }}</td>
                </tr>
                </tbody>
              </table>
        </div>

</div>
