<div class="container">
        <table class="table table-bordered">
            <thead style="background-color:lightgray;">
                <tr >
                  <th style="width: 100%;">Referrer</th>
                  <th style="width: 10%;
                  text-align: center;"><Button><i class="fa fa-plus-circle"></i></Button></th>
                </tr>
                </thead>
                <tbody >
                    <tr >
                      <td colspan="2" style="background-color: white;">
                          <div class="container">             
        <div class="row">
          <div class="col-md-12" style="text-align: right;">
              <input type="text" (change)="getCustomerByName()" [(ngModel)]="cusName"  />
          </div>
        <table class="table table-bordered table-striped table-light table-hover table-sm" style="margin-top: 10px;">   
                <thead >
                <tr >
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Email</th>
                  <th>Phone</th>
                  <th>Address</th>
                  <th>Created Date</th>
                  <th>Process</th>
                </tr>
                </thead>
                <tbody >
                <tr *ngFor="let customer of customers">
                  <td>{{ customer.firstName }}</td>
                  <td>{{ customer.lastName }}</td>
                  <td>{{ customer.email }}</td>
                  <td>{{ customer.phone }}</td>
                  <td>{{ customer.address }}</td>
                  <td>{{ customer.createdAt }}</td>
                  <td style="text-align: center;">
                        <button [routerLink]="['/user/edit', customer._id]" class="btn btn-warning" style="
                        color: white;font-size: 12px;">
                              <i class="fa fa-edit"></i>
                           </button>
                           <button (click)="deleteCustomer(customer._id)" class="btn btn-danger" style="
                          color: white;font-size: 12px; margin-left: 5px;">
                              <i class="fa fa-trash"></i>
                             </button>
                  </td>
                </tr>
                </tbody>
              </table>
        </div>
        </div>
                      </td>
                    </tr>
                    </tbody>
        </table>

</div>
<router-outlet></router-outlet>