<div class="container">
<div class="row col-md-12">
    <div class="card text-center col-md-12 ">Add Customer
        <div class="card-body">
            <form (ngSubmit)="edit ? updateCustomer() : saveCustomer()" ngNativeValidate>
                <div class="form-group">
                    <input type="text" name="firstName" [(ngModel)]="customer.firstName" placeholder="First Name" class="form-control"
                        autofocus required />
                </div>
                <div class="form-group">
                    <textarea type="text" name="lastName" [(ngModel)]="customer.lastName" placeholder="Last Name"
                        class="form-control" autofocus required></textarea>
                </div>
                <div class="form-group">
                    <textarea type="text" name="email" [(ngModel)]="customer.email" placeholder="Email"
                        class="form-control" autofocus required></textarea>
                </div>
                <div class="form-group">
                    <textarea type="text" name="phone" [(ngModel)]="customer.phone" placeholder="Phone"
                        class="form-control" autofocus required></textarea>
                </div>
                <div class="form-group">
                    <textarea type="text" name="address" [(ngModel)]="customer.address" placeholder="Address"
                        class="form-control" autofocus required></textarea>
                </div>
                <button class="btn btn-success btn-block">
                    Save
                </button>
            </form>
        </div>
    </div>
</div>
</div>