<div class="container">
<div class="col-md-12" style="
text-align: center;">
    <!-- <button routerLink="/user/players" >Players</button> -->
    <button class="btn btn-dark col-md-3" routerLink="/user/customers" >Customer List</button>
    <button class="btn btn-success col-md-3" routerLink="/user/create" >Customer Form</button>

    </div>
</div>
<div class="col-md-12" style="margin-top:50px">

        <router-outlet></router-outlet>
</div>
